<!DOCTYPE html>
<html>
<head>
    <link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css" />
    <title>Test</title>
</head>
<body>
<div id="wrapper">
    <div id="header">
        Header<br/>
        {% if test %}
            {{ test }}
        {% endif %}
    </div>
    <div id="page">
        <div id="sidebar">
            Sidebar<br/><br/>
            <ul>
                {% for node in roots %}
                    {% include "tree.html" %}
                {% endfor %}
            </ul>
        </div>
        <div id="content">
            Content<br/><br/>
            {% if isAuth %}
            Welcome, {{ user }}!<br/>
            Your preferred language is {{ lang }}.<br/>
            <a href="/logout">Logout</a>
	    <br/><br/><br/><hr>
            {% endif %}
            {% if messages %}
                <br/>
                <div id="messages">
                    Messages:
                    <ul>
                        {% for message in messages %}
                            <li>
                                {% if message.tags %}{{ message.tags }}:{% endif %}
                                <strong>{{ message }}</strong>
                            </li>
                        {%  endfor %}
                    </ul>
                </div>
	    <br/><br/><br/><hr>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>
