<!DOCTYPE html>
<html>
<head>
    <link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css" />
    <title>Test</title>
</head>
<body>
<div id="wrapper">
    <div id="header">
        Header
    </div>
    <div id="page">
        <div id="sidebar">
            Sidebar<br/>
            Trees<br/>
            <ul>
                {% for node in roots %}
                    {% include "tree.html" %}
                {% endfor %}
            </ul>
        </div>
        <div id="content">
            Content
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>