{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
    Are you sure you want to delete section {{ section }}?<br/>
    {% if your_count %}
    This section has {{ your_count }} section elements in current workspace!<br/>
    {% endif %}
    {% if other_count %}
    This section has {{ other_count }} section elements in other workspaces!<br/>
    This section will not be deleted!<br/><br/>
    {% endif %}
    {{ form.as_p }}
    <br/>
    <button type="submit">Send</button>
    </form>
{% endblock %}

