{% extends "base.html" %}

{% block content %}

    {% for element in elements %}
        <div class="post">
        <a href="/base/SectionElement/{{ element.0 }}/standard/">{{ element.1 }}</a>
        </div>
    {%  endfor %}
    <br/><br/><br/>

    Add new section element to current section<br/>
    <form action="" method="post">
    {{ form_new_section_element.as_table }}
    <button type="submit">Select</button>
    </form>
    <br/><br/><br/>

    Add new subsection to current section<br/>
    Please note new section will be a subsection of current section!<br/>
    <form action="" method="post">
    {{ form_new_section.as_p }}
    <button type="submit">Create</button>
    </form>
    <br/><br/><br/>

    Delete current section<br/>
    <a href="delete">Delete</a>
    
{% endblock %}
