{% extends "base.html" %}
{% block content %}

{% for p, v, t in properties %}
<table>
<tr>
<td id="prop">{{ p }}: </td>
<td>
{% if p == "hasImage" %}
	<img src="{{ STATIC_URL }}images/{{ v }}" alt="{{ v }}" />
{% else %}
    {% if t != "unsupported" %}
        {% if t == "SectionElement" %}
            <a href="/base/{{ t }}/{{ v }}/standard/">{{ v }}</a>
        {% else %}
            <a href="/base/{{ t }}/{{ v }}/">{{ v }}</a>
        {% endif %}
    {% else %}
        {{ v }}
    {% endif %}
{% endif %}
</td>
<br/>
</tr>
</table>
{% endfor %}

<br/><hr>

Comments:<br/>
{{ comments|unordered_list }}

<br/><hr>

<a href="/base/SectionElement/{{ element }}/edit/">Edit</a>
<br/>
<a href="/base/SectionElement/{{ element }}/delete/">Delete</a>
<br/>

{% endblock %}
